<h1> Product Editor</h1>
<h4>Please enter item to edit or delete.</h4>
<form style= 'display:inline' action="/products/{{id}}?_method=PUT" method='POST'>
  <input type="text" name='name' placeholder="name" value="{{name}}">
  <input type="text" name="price" placeholder="price" value="{{price}}">
  <input type="text" name="inventory" placeholder="inventory" value="{{inventory}}">
  <div> </div>
  <button type='submit'>submit</button>
</form>
<form action="/products/{{id}}?_method=DELETE" method='POST'>
  <button type='submit'>delete</button>
</form>

